.grid {
  max-width: 800px !important;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex: 1 1 12.5%;
  height: 12.5%;
  border: 1px solid grey;
  text-align: center;
  background: white;
  color: rgba(0, 0, 0, 0);
  user-select: none;
}

.revealed {
  transition: 200ms;
  background: orange;
  color: rgba(0, 0, 0, 1);
}

.show {
  color: black;
}